@import "tailwindcss";

@theme {
  --color-grey-900: #041010;
  --color-grey-800: #232A2A;
  --color-grey-700: #3D4545;
  --color-grey-600: #566161;
  --color-grey-500: #6E7D7D;
  --color-grey-400: #879695;
  --color-grey-300: #A2ADAD;
  --color-grey-200: #BCC4C4;
  --color-grey-100: #D5DCDC;
  --color-grey-50: #EAEEEE;

  --color-green-800: #002E15;
  --color-green-700: #004D29;
  --color-green-600: #0C8045;
  --color-green-500: #18B261;

  --color-green-700: #004D29;
  --color-green-600: #0C8045;
  --color-green-500: #18B261;

  --font-display: "Montserrat"
}

body {
  @apply text-[16px] leading-[140%] text-grey-900 font-medium font-display
}